@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

/* general styling */
html,
body {
  color: var(--very-dark-blue);
  font-family: 'Poppins', sans-serif;
}

nav,
header,
section,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 2em;
}

p {
  color: var(--grayish-violet);
}

.menu,
.header-content,
.about-content,
.footer-content {
  width: 80%;
  display: flex;
  max-width: 1200px;
}
/* end of general styling */

/* menu styling */
.menu {
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.menu-nav {
  display: flex;
  margin-right: auto;
}

.menu-nav li,
.menu-login li {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  color: var(--grayish-violet);
}

.menu-logo {
  margin-right: 2rem;
  margin-top: 0.6rem;
}

.menu-nav li {
  margin-left: 1rem;
  font-weight: 500;
}

.menu-login li:first-of-type {
  margin-right: 1rem;
  font-weight: 500;
}

.round-button {
  background-color: var(--cyan);
  color: white;
  font-family: 'Poppins';
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 8em;
  font-size: 1em;
  font-weight: 500;
}

.hide {
  display: none;
}

.hamburger {
  position: relative;
}

.fa-bars {
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.bars-menu {
  background: white;
  padding-top: 5rem;
  position: absolute; /* Add these */
  top: -50px;
  left: -145px;
  z-index: 1;
  text-align: center;
  border-radius: 1px solid red;
}

.bars-menu ul {
  background: var(--dark-violet);
  padding: 0.6rem 0;
  border-radius: 0.6rem;
}

.bars-menu li {
  list-style: none;
  padding: 0 40px 10px 20px;
  margin: 10px;
}

.bars-menu a {
  color: white;
}

.sign-up {
  background-color: var(--cyan);
  color: white;
  font-family: 'Poppins';
  border: none;
  padding: 0.4rem 0.3rem;
  border-radius: 1em;
  font-size: 1em;
  font-weight: 500;
  width: 80%;
  margin-bottom: 0.6rem;
}

hr {
  width: 80%;
  margin: 0 auto;
  border: 0;
  height: 0.5px;
  background: var(--gray);
}
/* end of menu styling */

/* header styling */
.header-content {
  justify-content: space-between;
  margin-bottom: 7rem;
  position: relative;
}

.header-content-text {
  padding: 6rem 0;
  width: 50%;
}
.header-content-text h1 {
  font-size: 3.7em;
  line-height: 3.8rem;
  margin-bottom: 1.2rem;
}

.header-content-text p {
  font-size: 1.2em;
  width: 90%;
  margin-bottom: 1.2rem;
}

.header-content img {
  position: absolute;
  width: 60%;
  left: 52%;
  bottom: 5%;
}
/* end of header styling */

/* about styling */

.about-container {
  background: var(--gray);
}

.about-content {
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* .search-container {
  width: 100%;
  position: relative;
  top: -7%;
} */

.form-container {
  width: 100%;
  padding: 2rem;
  background: var(--dark-violet) url('../images/bg-shorten-desktop.svg');
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -3.9rem;
}

.search-form {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search {
  padding: 1rem;
  width: 83%;
  font-size: 1.1rem;
  border-radius: 0.3em;
  border: none;
  outline: none;
}

.submit {
  padding: 1rem;
  width: 15%;
  background: var(--cyan);
  border-radius: 0.3em;
  border: none;
  font-size: 1.1rem;
  color: white;
  outline: none;
}

.validate {
  color: var(--red);
  margin-top: 0.5rem;
  display: flex;
  align-self: flex-start;
  margin-left: 3rem;
  font-style: italic;
}

.validate-form {
  border: 1px solid var(--red);
  color: var(--red);
}

.validate-form::placeholder {
  color: var(--red);
}

.links-container {
  width: 100%;
}

.link {
  width: 100%;
  padding: 0.8rem 1.2rem;
  background: white;
  border-radius: 0.3em;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.link span:last-of-type {
  margin-left: auto;
  color: var(--cyan);
}

.copyBtn {
  padding: 0.6rem 1.2rem;
  background: var(--cyan);
  border-radius: 0.3em;
  border: none;
  font-size: 1.1rem;
  color: white;
  outline: none;
  margin-left: 1rem;
  cursor: pointer;
}

.about-content-text {
  margin-top: 8rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.text-title {
  text-align: center;
  padding-bottom: 4rem;
  width: 70%;
  margin-top: -1rem;
}

.text-title h2 {
  margin-bottom: 1.2rem;
  color: var(--dark-violet);
}

.text-title p {
  font-size: 1.2em;
  line-height: 1.7rem;
}

.text-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5rem 0;
  position: relative;
  z-index: 1;
}

.text-content-item {
  width: 31.5%;
  padding: 1rem;
  background: white;
  border-radius: 0.5rem;
  position: relative;
}

.item-image {
  background: var(--dark-violet);
  padding: 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.4rem;
  width: 5.4rem;
  margin-top: -3.5rem;
}

.item-image img {
  width: 90%;
}

.item-text {
  margin-top: 1.3rem;
}

.item-text h3 {
  margin-bottom: 1rem;
  color: var(--dark-violet);
}

.item-text p {
  line-height: 1.6rem;
}

.text-content-item:first-of-type {
  position: relative;
  top: -2rem;
}

.text-content-item:last-of-type {
  position: relative;
  bottom: -2rem;
}

.divider {
  width: 50%;
  height: 5px;
  background: var(--cyan);
  position: absolute;
  top: 20.5rem;
}
/* end of about styling */

/* register styling */
.register-container {
  background: var(--dark-violet) url('../images/bg-boost-desktop.svg');
}

.register-content {
  text-align: center;
  padding: 4rem 0;
  color: white;
}

.register-content h2 {
  margin-bottom: 1.2rem;
}
/* end of register styling */

/* footer styling */
footer {
  background: var(--very-dark-blue);
}
.footer-content {
  padding: 4rem 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo {
  color: white;
  width: 25%;
}

.footer-text {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

footer h4 {
  margin-bottom: 1.1rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-bottom: 0.6rem;
}

.footer-text-item img {
  margin-left: 1rem;
}

.footer-text-item img:first-of-type {
  margin-left: 0;
}
/* end of styling */

/* respnsiveness */
@media (max-width: 600px) {
  .menu,
  .header-content,
  .about-content,
  .footer-content {
    width: 90%;
  }
  .menu-nav {
    display: none;
  }

  .menu-login {
    display: none;
  }

  .header-content {
    flex-direction: column;
  }

  .header-content img {
    position: relative;
    width: 100%;
    left: 0;
    order: -1;
    padding-top: 4rem;
  }

  .header-content-text {
    padding: 4rem 0;
    width: 100%;
    text-align: center;
  }

  .search-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .search-form > input {
    width: 100%;
    margin: 0.4rem 0;
  }

  .form-container {
    padding: 1rem;
  }

  .link {
    justify-content: center;
    align-items: center;
  }

  .link span {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .link input {
    width: 100%;
    margin-left: 0;
  }

  .text-title {
    width: 100%;
  }

  .text-content {
    justify-content: center;
  }

  .text-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem;
  }
  .text-content-item:last-of-type {
    margin-bottom: 0;
  }

  .item-image {
    margin-top: -70px;
  }

  .item-text {
    text-align: center;
  }

  .divider {
    width: 5px;
    height: 50%;
    background: var(--cyan);
    position: absolute;
    top: 20.5rem;
  }

  .footer-content {
    justify-content: center;
    align-items: center;
  }

  .footer-content > div {
    width: 100%;
  }

  .footer-text {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-text-item {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 990px) {
  .menu-nav {
    display: none;
  }

  .menu-login {
    display: none;
  }

  .header-content-text {
    padding: 4rem 0;
  }

  .header-content-text {
    padding: 6rem 0;
    width: 45%;
  }
  .header-content-text h1 {
    font-size: 2em;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .header-content-text p {
    font-size: 0.8em;
    margin-bottom: 1.2rem;
  }

  .header-content img {
    position: absolute;
    width: 60%;
    left: 52%;
    bottom: 5%;
  }
}

@media (min-width: 991px) {
  .hamburger {
    display: none;
  }
}
/* end of responsiveness */
